.catalog {
    position: relative;
    padding: 32px;

    &__wrapper {
        width: 1240px;
        margin: 0 auto;
   
        display: grid;
        grid-template-columns: auto auto auto;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__search-wrapper {
        width: 25%;
        border: 1px solid;
        padding: 8px;
        align-items: center;
        border-radius: 14px;
        display: flex;
        border-color: blue;
        margin-bottom: 16px;
    }

    &__card {
        max-width: 350px;
        margin-right: 16px;
        margin-bottom: 16px;
        cursor: pointer;
        width: 50%;
    }

    &__card-title {
        margin-bottom: 16px;
    }

    &__card-image {
        width: 100%;
        height: 100%;
    }
}

input {
    border: none;
    outline: none;
    flex: 1;
}