<header class="header">
  <div class="logo">
    <h1>SNEAKER <span>FLARE</span></h1>
  </div>
  <div class="content">
    <div class="social-media-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    <nav class="navigation">
      <ul>
        <ng-container>
          <li *ngFor="let item of headerList; let i = index">
            <a [routerLink]="[item.route]" routerLinkActive="is-active">
              {{ item.title }}
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>
    <!-- Компонент поиска -->
    <app-search></app-search>
    <!-- Компонент поиска -->
  </div>
</header>