.banner {

  margin-left: 120px;
  margin-right: 120px;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: url('path/to/your/background-image.jpg') no-repeat center center;
  background: black;
  background-size: cover;
  height: 400px;
  color: white;

  .banner-content {
    text-align: center;

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 30px;
    }

    .btn-shopping {
      background-color: red;
      color: white;
      padding: 15px 30px;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darkred;
      }
    }
  }
}
